.appForm {
  display: flex;
  flex-direction: column;
  padding: 24px;

  > div {
    display: flex;
    width: 100%;
    padding-bottom: 18px;

    label {
      width: 25%;
      font-size: 12px;
    }

    div {
      width: 100%;

      span {
        font-size: 11px;
        color: red;
      }

      input {
        width: calc(100% - 24px);
        font-size: 12px;
        padding: 8px 12px;

        border: 1px solid #ccc;
        border-radius: 4px;

        &.error {
          border: 1px solid red;
        }
      }

      &.checkbox {
        input {
          width: 24px;
        }
      }
    }

    &.variable {
      label {
        padding-left: 48px;
        width: calc(25% - 48px);
      }

      &.disabled {
        opacity: .5;
      }
    }

    &.buttons {
      display: flex;
      justify-content: flex-end;

      button {
        border-radius: 4px;
        margin: 0 8px;
        min-width: 80px;
        padding: 10px 20px;


        &[type=submit] {
          color: white;
          background-color: rgba(0, 85, 255, 1);
          border: 1px solid  rgba(0, 85, 255, 1);

          &:hover {
            background-color: rgba(0, 85, 255, .5);
          }
        }

        &[type=reset] {
          color: black;
          background-color: rgba(200, 200, 200, 1);
          border: 1px solid darkgray;

          &:hover {
            background-color: rgba(200, 200, 200, .5);
          }
        }
      }
    }
  }
}