.appValues {
  display: flex;
  flex-direction: column;
  padding: 24px;

  > div {
    display: flex;
    width: 100%;

    div {
      padding: 12px;
      border: 1px solid lightgray;
      width: 100%;

      &.label {
        width: 25%;
        font-size: 12px;
      }
    }

    &.buttons {
      padding: 12px 0;
      display: flex;
      justify-content: flex-start;

      button {
        border-radius: 4px;
        margin: 0 8px;
        min-width: 80px;
        padding: 10px 20px;
      }
    }
  }
}